<div class="container mt-4">
    <div class="row">
      <h1>Your Progress</h1>
    </div>
    <div class="row">
      <div class="col-sm-8">
          <div>
              <div style="display: block">
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
      </div>
      <div class="col-sm-4">
        <div Class="container">
          <div class="row mt-4">
            <app-friendtable [user]="user"></app-friendtable>
          </div>
          <div class="row mt-4">
              <app-weighttable [weights]="weights" [userId]="user.id"></app-weighttable>
            </div>
          <div class="row ml-4 mt-4">
            <app-addweight (updateGraph)="updateGraph($event)"></app-addweight>
          </div>

        </div>
      </div>
    </div>
</div>

